<!DOCTYPE html>
<html>
<script src="scripts/webrtc.js"></script>
<link rel="stylesheet" href="css/video.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream Client</title>
</head>
<body>
    <div style="position: relative; display: inline-block;" class="video-container">
        <video id="video" autoplay controls playsinline width="640" height="480" style="background: #222"></video>
    </div>
    <button id="start" onclick="start()">Start</button>
    <p id="track"></p>
</body>
</html>